(
    name: "Apple",
    key: "apple",
    tool_type: Attachable((
        distance: 0.5,
        forward: (0.0, 0.0, 1.0),
    )),
    initial_scale: 0.1,
    scaling: Some((
        min: 0.05,
        max: 0.5,
    )),
)
