(
  resources: {},
  entities: {
    1: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
          ),
          rotation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
            w: 1.0,
          ),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "tree::components::Tree": (),
        "tree::components::TreeSize": (
          trunk_thickness: 0.5,
          trunk_height: 2.0,
          canopy: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          )
        ),
      },
    ),
  },
)
